.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../img/menu.svg);
    display: inline-block;
    background-repeat: no-repeat; /*para imagem ñ repetir*/
    display: inline-block;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url(../img/MenuAberto.svg);
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-degrade);
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between; /*separa os flex-filhos, cada um para um canto*/
    align-items: center;
    position: relative;  /*com ele poderá top(cima) left(esquerda) right(direita) botton(fundo) */
}

.container {
    display: flex; /*foi usado junto ao align-itens para alinhar ao centro da div*/
    align-items: center;
}

.container__imagem {
    padding: 1em; /*16px*/
    
}

.lista-menu {
    display: none;
    position: absolute; /*ele permite que vc movimente o seu elemento de acordo com outro que veio antes(elemento pai por exemplo)*/
    top: 100%; /*foi usado graças ao position: relative; para posicionar em baixo do header*/
    width: 60vw;
}

/*:checked e um pseudo-classe, ele checará uma coisa kk/
O ~ ele e um combinador css, ele e tipo um condicional do JS(sem usar o msm)*/
.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo, 
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao, 
.container__titulo, 
.opcoes, 
.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--fonte-segundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem--transparente,
    .cabecalho__menu-hamburguer, 
    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }
    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco); /*quando aplicaquei no inicio, a decoração estava como transparente, por isso tive q repitir essa -webkit-text-fill-color: denovo, mais agora com outro valor (para mudar) var(--branco);*/
        text-decoration: none; /*para tirar o traço em baixo, antes só escondi*/
    }
}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }

    .container__texto {
        display: block;
    }

    .container__link > .container__texto:hover {
        color: var(--laranja);
    }
}